PORT=5000
JWT_SECRET=uniquesecret
JWT_EXPIRE=24h
JWT_LONG_EXPIRE=30d
EMAIL_SERVICE=gmail
EMAIL_USERNAME=yourusername@gmail.com
APP_PASSWORD="your google app password"
EMAIL_FROM=noreply@connectverse.com

DATABASE_URL="postgresql://yourusername:yourpassword@localhost:5432/yourdatabase?schema=public"
DIRECT_URL="postgresql://yourusername:yourpassword@localhost:5432/yourdatabase?schema=public"